/* Define uma fonte personalizada para o cabeçalho */
@font-face {
  font-family: 'AutismRapFont';
  src: url('caminho/para/arquivo/AutismRapFont.ttf');
}

/* Define as cores predominantes do espectro autista */

/* Define as cores de fundo e texto da página */
body {
  background-color: rgb(24, 26, 43);
  color: #ffffff;
}

/* Define o estilo do cabeçalho */
header {
  background-image: url('./img/dogZ.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  max-width: 100%;
  font-size: 10rem;
  text-align: center;
  margin-top: 0;
  padding-top: 150px;
  font-family: monospace;
  color: hsl(0, 100%, 38%);
}

h2 {
  max-width: 100%;
  font-size: 3rem;
  text-align: center;

  padding-top: 20px;
  font-family: monospace;
  color: rgb(255, 255, 255);
}

/* Define o estilo dos parágrafos */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}

/* Define o estilo dos botões */
.btn {
  display: inline-block;
  width: 100%;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: hsl(0, 100%, 38%);

  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #aed1ba;
}

/* Define o estilo da imagem */
.img-fluid {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Define o estilo do container principal */
.container {
  max-width: 1200px;
}

#my-icons {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

#my-icons li a img {
  width: 150px;
  height: auto;
  padding-right: 30px;
  transition: all 0.3s ease-in-out;
}

#my-icons li a img:hover {
  transform: scale(1.1);
  filter: brightness(80%);
}

#counter {
  font-size: 30px;
  font-weight: bold;
  color: #aed1ba;
  border: 2px solid red;
  text-align: center;
}

.post {
  padding-top: 100px;
}

/* Define o estilo do rodapé */
footer {
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
